@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        <form id="student-add-form">
            学号<input class="easyui-textbox" id="add_student_numbor" data-options="prompt:'请输入学号'" name="StudentNo" /><br />
            班级名称<select id="add_student_classname" name="ClassID"></select><br />
            学生姓名<input class="easyui-textbox" id="add_student_name" data-options="prompt:'请输入姓名'" name="Name" /><br />
            手机号<input class="easyui-textbox" id="add_student_pelno" data-options="prompt:'请输入手机号'" name="TelNo" /><br />
            QQ号<input class="easyui-textbox" id="add_student_QQno" data-options="prompt:'请输入QQ号'" name="QQNo" /><br />
            微信号<input class="easyui-textbox" id="add_student_wxno" data-options="prompt:'请输入微信号'" name="WeChatNo" /><br />
            家长手机号1<input class="easyui-textbox" id="add_student_jpelno1" data-options="prompt:'请输入家长手机号1'" name="PTelNo1" /><br />
            家长手机号2<input class="easyui-textbox" id="add_student_jpelno2" data-options="prompt:'请输入家长手机号2'" name="PTelNo2" /><br />
            能否登录<input type="checkbox" id="add-student-login" name="IsLogin" value="1" />
        </form>
        <script>
            $(function () {
              
                    $.post("/Classes/getClasses", function (data) {
                        $(data).each(function (index, c) {
                            $("#add_student_classname").append("<option value=" + c.ID + ">" + c.Name + "</option>")
                        })
                    }, "json")

                })

         
        </script>
    </div>
</body>
</html>
