@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div class="weizhi">
        <lable>专业名称:</lable><input id="major-name" type="text"/>
    </div>
</body>
</html>
