@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/easyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/easyUI/themes/metro/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/easyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyUI/locale/easyui-lang-zh_CN.js"></script>
    <script>
        $(function () {
            $("#teacher-add").dialog({ closed: true });
            $("#teacher-edit").dialog({ closed: true });
            
        })
        $(function () {
            $("#dg-teacher").datagrid({
                title: '教师管理————',
                url: '/Teachers/getTeachers',
                singleSelect: true,
                rownumbers: true,
                pagination:true,
                width:600,
                toolbar: [
                    {
                        text: '添加',
                        iconCls: 'icon-add',
                        handler: function () {
                            $("#teacher-add").dialog({
                                title: '教师添加————',
                                iconCls: 'icon-add',
                                width: 300,
                                height:300,
                                closed: false,
                                modal: true,
                                href: '/Teachers/add',
                                buttons: [{
                                    text: '添加',
                                    iconCls: 'icon-ok',
                                    handler: function () {
                                        
                                        var t = $("#teachers_add").serialize();
                                        $.get("/teachers/AddTeachers", t, function (data) {
                                            if (data == "ok") 
                                            {
                                                $("#dg-teacher").datagrid("reload");
                                                $("#teacher-add").dialog("close");
                                                $.messager.show({
                                                    title: 'TTSP',
                                                    msg: '添加成功！',
                                                    showType: 'show'
                                                });
                                            }
                                        }, "text")
                                    }
                                },{
                                    text: '取消',
                                    iconCls: 'icon-no',
                                    handler: function () {
                                        $("#teacher-add").dialog("close");
                                    }
                                }]
                            });
                        }
                    }, {
                        text: '编辑',
                        iconCls: 'icon-edit',
                        handler: function () {
                            var row = $("#dg-teacher").datagrid("getSelected");
                            if (row == null) {
                                $.messager.alert("提示...", "请选择行!", "warning");
                                return;
                            }
                            var id = row.ID;;
                            var url = "/Teachers/edit/" + id;
                            $("#teacher-edit").dialog({
                                title: '教师编辑————',
                                iconCls: 'icon-edit',
                                width: 600,
                                closed: false,
                                modal: true,
                                href: url,
                                buttons: [{
                                    text: '修改',
                                    iconCls: 'icon-ok',
                                    handler: function () {
                                        var t = $("#teachers_edit").serialize();
                                      $.get("/teachers/editTeacher",t , function (data) {
                                          alert(data)
                                          if (data == "OK") {
                                              $("#dg-teacher").datagrid("reload");
                                              $("#teacher-edit").dialog("close");
                                                $.messager.show({
                                                    title: 'TTSP',
                                                    msg: '修改成功！',
                                                    showType: 'show'
                                                });
                                            }
                                            else {
                                                $.messager.show({
                                                    title: 'TTSP',
                                                    msg: '修改失败！',
                                                    showType: 'show'
                                                });
                                            }
                                        }, "text");
                                    }
                                }, {
                                    text: '取消',
                                    iconCls: 'icon-no',
                                    handler: function () {
                                        $("#teacher-edit").dialog("close");
                                    }
                                }]
                            });
                        }
                    }, '-', {
                        text: '删除',
                        iconCls: 'icon-remove',
                        handler: function () {
                            var row = $("#dg-teacher").datagrid("getSelected");
                            if (row == null) {
                                $.messager.alert("提示...", "请选择行!", "warning");
                                return;
                            }
                            $.messager.confirm('tips', '你确定要删除', function (r) {
                                if (r) {
                                    var id = $("#dg-teacher").datagrid("getSelected").ID;
                                    $.get("/Teachers/deleteTeacher", { ID: id }, function (data) {
                                        if (data == "OK") {
                                            $("#dg-teacher").datagrid('reload');
                                            $("#dlg-delete").dialog("close");
                                            $.messager.show({
                                                title: 'TTSP',
                                                msg: '删除成功！',
                                                showType: 'show'
                                            });
                                        }

                                    }, "text");
                                }
                                else {
                                    $.messager.show({
                                        title: 'TTSP',
                                        msg: '删除失败！',
                                        showType: 'show'
                                    });
                                }
                            
                            });
                        }
                    }, {
                        text: '密码重置',
                        iconCls: 'icon-lock',
                        handler: function () {
                            var row = $("#dg-teacher").datagrid("getSelected");
                            if (row == null) {
                                $.messager.alert('TIPS', '请选择你要重置的密码的用户','warning');
                                return;
                            }
                            else {
                                var name = row.Name;
                                $.messager.confirm("Tips", "你确定要重置" + name + "的密码吗？？", function (result) {
                                    if (result) {
                                        var ID = row.ID;

                                        $.get("/Teachers/resultpass", { ID: ID }, function (data) {
                                            if (data == "OK")
                                                $.messager.show({
                                                    title: 'TTSP',
                                                    msg: '重置密码成功！',
                                                    showType: 'show'
                                                });
                                            else
                                                $.messager.show({
                                                    title: 'TTSP',
                                                    msg: '重置密码失败！',
                                                    showType: 'show'
                                                });
                                        }, "text")
                                    }
                                 
                                });

                            }
                        }
                    }],
                columns: [[
                   { field: 'TeacherNo', title: '教师号', width: 80 },
                   { field: 'Name', title: '姓名', width: 100 },
                   { field: 'DeptName', title: '所属部门', width: 120 },
                   {
                       field: 'IsLogin', title: '是否为管理员', width: 80, formatter: f
                   }
                ]]
            });
        });
        function f (r) {
            if (r == "0")
            {
                return "<input type='checkbox' disabled='disabled' />"
            }
            else
                return "<input type='checkbox' checked='checked' disabled='disabled'/>"
        }
    </script>
</head>
<body>
    <div>
        <table id="dg-teacher"></table>
    </div>
    <div id="teacher-add"></div>
    <div id="teacher-edit"></div>
</body>
</html>
