@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addIndex</title>
</head>
<body>
    <div>
        <div class="weizhi">
            部门名称:<input id="departmentname" type="text" autofocus="true" />
        </div>
    </div>
</body>
</html>
