@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/easyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Scripts/easyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/easyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyUI/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#dlg-department").dialog({ closed: true });
            
        });
        var  $tb= [{
            text: '添加',
            iconCls: 'icon-add',
            handler: function () {
                
                $("#dlg-department").dialog({
                    title: '添加----',
                    iconCls:'icon-add',
                    width: 300,
                    height: 200,
                    closed: false,
                    modal: true,
                    href:'/Departments/addIndex',
                    buttons: [{
                          text: '保存',
                          iconCls: 'icon-save',
                          handler: function(){
                              $.get("/departments/adddepartments", { name: $("#departmentname").val() }, function (data) {
                                  if (data == "OK") {
                                      $("#dg-department").datagrid("reload");
                                      $.messager.show({
                                          title: 'TTSP',
                                          msg: '保存成功！',
                                          showType: 'show'
                                      });
                                      $("#dlg-department").dialog("close");
                                      $("#departmentname").val("");
                                  }
                                  else
                                      $.messager.show({
                                          title: 'TTSP',
                                          msg: '添加失败！',
                                          showType: 'show'
                                      });
                              }, "text")
                          }
                    }, {
                          text: '取消',
                          iconCls: 'icon-no',
                          handler: function () {
                              $("#dlg-department").dialog("close");
                          }
                    }]
                });
            }
        }, '-', {
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function () {
                var row = $("#dg-department").datagrid("getSelected");
                if (row == null) {
                    $.messager.alert("提示...", "请选择行!", "warning");
                    return;
                }
                var id = $("#dg-department").datagrid("getSelected").ID;
                 var url = "/Departments/EditIndex/"+id
                 $("#dlg-department").dialog({
                        title: '编辑----',
                        iconCls: 'icon-edit',
                        width: 300,
                        height: 200,
                        href:url,
                        closed: false,
                        modal: true,
                        buttons: [{
                            text: '修改',
                            iconCls: 'icon-save',
                            handler: function () {
                                $.get("/departments/Editdepartments", {id:id, name: $("#Name").val()}, function (data) {
                                    if (data == "OK") {
                                        $("#dg-department").datagrid("reload");
                                        $.messager.show({
                                            title: 'TTSP',
                                            msg: '编辑成功！',
                                            showType: 'show'
                                        });
                                        $("#dlg-department").dialog("close");
                                        $("#Name").val("");
                                    }
                                    else
                                        $("#dlg-department").dialog("close");
                                }, "text")
                            }
                        }, {
                            text: '取消',
                            iconCls: 'icon-no',
                            handler: function () {
                                $("#dlg-department").dialog("close");
                            }
                        }]

                    });
                }
            
        }, '-', {
            text: '删除',
            iconCls: 'icon-remove',
            handler: function () {
                var row = $("#dg-department").datagrid("getSelected");
                if (row == null) {
                    $.messager.alert("提示...", "请选择行!", "warning");
                    return;
                }
                $.messager.confirm('tips', '你确定要删除', function (r) {
                    if (r) {
                        var id = $("#dg-department").datagrid("getSelected").ID;
                        $.get("/departments/deletedepartments", { ID: id }, function (data) {
                            if (data == "OK") {
                                $("#dg-department").datagrid("reload");
                                $.messager.show({
                                    title: 'TTSP',
                                    msg: '删除成功！',
                                    showType: 'show'
                                });
                            }
                            else {
                                $.messager.show({
                                    title: 'TTSP',
                                    msg: '删除失败！',
                                    showType: 'show'
                                });
                            }
                        }, "text");
                    }
                  

                });
            }
        }]
    </script>
  <style>
      .weizhi {
      width:50%;
      height:50%;
      margin:30px auto;
      }
  </style>

</head>
<body>
    <div>
        
        <table id="dg-department" class="easyui-datagrid" title="系部名称管理————" data-options="url:'/departments/getdepartments',singleSelect:true,toolbar:$tb,rownumbers:true" style="width:300px;height:300px">
            <thead>
                <tr>
                    <th data-options="field:'Name',width:250">系部名称</th>
                </tr>

            </thead>
            <tbody id="content"></tbody>
        </table>
        <div id="dlg-department"></div>
    </div>
</body>
</html>
