@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edit</title>
</head>
<body>
    <div id="position">
       
        班级名字：<input id="class-edit-classname" class="easyui-textbox" />
    </div>
    <script>
        $(function () {
            $.post("/classes/getclassesbyid", { ID: $("#dg-classes").datagrid("getSelected").ID }, function (data) {
                $(data).each(function (index, cla) {
                    $("#class-edit-classname").textbox('setValue', cla.Name);
                });
            });

        });
    </script>
</body>
</html>
